<% include ./partial/header %>
<div class="lop"style="border:1px solid pink;">
    <% if (locals.errors) { %>
      <div class="alert alert-danger" role="alert"style="">
        <% locals.errors.forEach(function(errors) { %>
        <h5><%= errors.msg %></h5>

        <% }); %>
      </div>
      <% } %>
</div>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;

"

>

        

        <form action="/employee/register" metdirector="POST" style="margin: 0 auto;">
          <div class="row">
            <div class="col">
              <h2 style="    text-align: center;">
                Register
              </h2>
              <div class="form-group form-inline">
                <label for="name" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  placeholder="name"
                  name="name"
                  style="float: left;;
                  text-align: left;
                  "
                />
              </div>
              <!-- type -->
              <div id="rates" class="form-group"style="width: 400px;
              display: inline-block;
              text-align: right;
              ">
                <input type="radio" id="r1" name="type" value="employee" />
                Employee
                <input type="radio" id="r2" name="type" value="director" />
                Director
                <input type="radio" id="r3" name="type" value="admin" />
                Admin
              </div>

              <!-- id -->
              <div class="form-group form-inline">
                  <label for="username" style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  placeholder="username"
                  name="username"
                />
              </div>
              <!-- password -->
              <div class="form-group form-inline">
                  <label for="password"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="password"
                />
              </div>
              <!-- confirm password -->
              <div class="form-group form-inline">
                  <label for="cpassword"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Confirm Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="cpassword"
                  name="password2"
                  placeholder="Confirm password"
                />
              </div>
              <!-- Department -->
              <div class="form-group form-inline">
                  <label for="department"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Department</label>
                <!-- <label for="department">Department</label> -->
                <input
                  class="form-control"
                  
                  type="text"
                  placeholder="Department"
                  id="department"
                  name="department"
                />
              </div>
              <!-- Email -->
              <div class="form-group form-inline">
                  <label for="Email"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Email Id</label>
                <!-- <label for="Email">Email</label> -->
                <input
                  class="form-control"
                  type="text"
                  name="Email"
                  id="Email"
                  placeholder="Email Id"
                />
              </div>
              <!-- image -->
              <div class="form-group form-inline">
                  <label for="img"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Image Url</label>
                <input
                  class="form-control"
                  type="text"
                  id="img"
                  placeholder="img url"
                  name="image"
                />
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary btn-default btn-block"
                  style=" color:#fff;"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- name -->
        </form>

        <a href="/">Back</a>
      </div>
    </div>
  </div>
  <% include ./partial/footer %>
</div>
