.hero-slider{
	position: relative;
	.slides{
		list-style: none;
		@include clearfix;

		li{
			min-height: 680px;
			background-size: cover;
			background-position: center center;

		}
	}

	.slide-title{
		@include em(36);
		margin-top: 200px;
		letter-spacing: 3px;
		span{
			display: inline-block;
			padding: 10px 15px;
			text-transform: uppercase;
			background: $bg-color;
			color: white;
			margin-bottom: 10px;
		}
	}

	.flex-direction-nav{
		position: absolute;
		bottom: 200px;
		left:0;
		right: 0;
		margin: auto;
		z-index: 99;
		height: 40px;
		list-style: none;
		padding: 0 15px;


		@media screen and (min-width:768px){ width: 750px }
		@media screen and (min-width: 992px){ width: 970px }
		@media screen and (min-width:1200px){ width: 1170px }

		li{
			display: inline-block;
			margin-right: 10px;

			a{
				width: 64px;
				height: 64px;
				display: block;
				color: white;
				text-align: center;
				line-height: 2;
				@include em(30);

				&.flex-prev{ background: url("images/prev.png") }
				&.flex-next{ background: url("images/next.png") }
			}
		}
	}
}
.fullwidth-block{
	padding: 50px 0;

	&.image-block{
		min-height: 300px;
	}

}
.section-title{
	@include em(36);
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
}

.separator{
	border:none;
	border-top: 1px solid #383838;
	margin: 50px 0;
	clear: both;
}

.project{
	margin-bottom: 30px;
	.project-thumbnail{
		margin-bottom: 20px;
		img{
			max-width: 100%;
			display: block;
		}
	}
	.project-title{
		@include em(18);
		font-weight: 300;
		margin-bottom: 0;
		text-transform: uppercase;
		color: $accent-color;
		letter-spacing: 2px;
	}
	.project-subtitle{
		@include em(12);
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 20px;
		display: block;
	}
}

.testimonial-slider{
	.slides{
		list-style: none;
		margin-bottom: 30px;
		@include clearfix;
	}

	blockquote{
		margin: 0;
		cite{
			display: block;
			margin-top: 20px;
			color: $accent-color;
			font-style: normal;
		}
	}

	.flex-control-nav{
		list-style: none;

		li{
			display: inline-block;
			margin-right: 5px;
			a{
				overflow: hidden;
				text-indent: -9999px;
				width: 14px;
				height: 14px;
				display: block;
				background: url(images/paging-inactive.png) no-repeat;
				cursor: pointer;

				&.flex-active{
					background: url(images/paging-active.png) no-repeat;					
				}
			}

		}
	}
}

.news{
	list-style: none;

	.date{
		@include em(13);
		color: $accent-color;
	}

	.entry-title{
		@include em(14);
		font-weight: 300;
		a {
			color: $body-color;

			&:hover {color: $accent-color;}
		}

	}
}

.news-list{
	list-style: none;
	margin: 0 -15px;
	@include clearfix;

	li{
		width: 25%;
		padding: 0 15px;
		float: left;
		margin-bottom: 30px;

		@media screen and (max-width: 990px){
			width: 50%;
		}
		@media screen and (max-width: 640px){
			width: 100%
		}

		img{
			max-width: 100%;
		}
	}

	figure{margin-bottom: 20px}

	.entry-title{
		text-transform: uppercase;
		margin-bottom: 0;
		@include em(18);
	}
	.date{
		@include em(12);
		display: block;
		margin-bottom: 20px;
	}
}

.page{
	padding: 50px 0;

	.align-left{
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;
	}
	.align-right{
		float: right ;
		margin-left: 30px;
		margin-bottom: 30px;
	}
	
	.entry-title{
		@include em(36);
		list-style: 3px;
		font-weight: 300;
		text-transform: uppercase;
	}

	p{
		@include em(16);
		line-height: 2;
	}
}

.feature-numbered{
	text-align: center;
	.num{
		width: 70px;
		height: 70px;
		display: inline-block;
		border: 3px solid $accent-color;
		margin-bottom: 20px;
		@include em(30);
		color: $accent-color;
		font-weight: 700;
		line-height: 2;
		position: relative;

		&:before,&:after{
			content:" ";
			width: 25px;
			height: 20px;
			position: absolute;
			background: $bg-color;
		}

		&:before{
			border-bottom: 3px solid $accent-color;
			transform: rotate(-45deg);
			top:-9px;
			left: -12px;
		}
		&:after{
			border-top: 3px solid $accent-color;	
			transform: rotate(-45deg);
			bottom:-9px;
			right: -12px;
		}
	}

	.feature-title{
		@include em(18);
		text-transform: uppercase;
		font-weight: 300;
		color: $accent-color;
		letter-spacing: 3px;
	}
}

.testimonial{
	margin:0 0 30px;

	cite{
		font-style: normal;
		color: $accent-color;
	}
}


.filterable-nav{
	margin: 50px 0;

	.mobile-filter{
		display: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 2px solid $accent-color;
		padding: 10px 20px;
		color: $accent-color;
		border-radius: 0;
		background: none;
		text-transform: uppercase;
		outline: none;
		@media screen and (max-width:768px){
			display: block;
		}
	}
	a{
		display: inline-block;
		padding: 10px 20px;
		margin-right: 10px;
		border: 2px solid #383838;
		position: relative;
		color: $body-color;
		text-transform: uppercase;
		transition: .3s ease;
		@media screen and (max-width:768px){
			display: none;
		}

		&:before,&:after{
			content:" ";
			width: 20px;
			height: 20px;
			position: absolute;
			background: $bg-color;
			transition: .3s ease;
		}


		&:before{
			border-bottom: 2px solid #383838;
			transform: rotate(-45deg);
			top:-10px;
			left: -10px;
		}
		&:after{
			border-top: 2px solid #383838;	
			transform: rotate(-45deg);
			bottom:-10px;
			right: -10px;
		}

		&.current, &:hover{
			border-color: $accent-color;
			color: $accent-color;

			&:before,&:after{border-color: $accent-color;}
		}
	}
}
.filterable-items{
	@include clearfix;
}
.project-item{
	width: 33.333%;
	padding: 0 15px;
	margin-bottom: 30px;
	float: left;

	@media screen and (max-width: 768px){ width: 50% }
	@media screen and (max-width: 480px){ width: 100% }

	img{
		max-width: 100%;
		margin-bottom: 20px;
		display: block;
	}

	.project-title{
		@include em(18);
		margin-bottom: 0;
		letter-spacing: 2px;
		font-weight: 300;
		text-transform: uppercase;
		color: $accent-color;
	}
	.project-subtitle{
		@include em(12);
		margin-bottom: 10px;
		text-transform: uppercase;
		color: white;
	}
}

.project-images{
	img{
		max-width: 100%;
	}
	.thumbs{
		margin: 0 -10px;
		@include clearfix;
		margin-top: 30px;
		a{
			width: 33.3333%;
			display: block;
			float: left;
			text-align: center;

			img{max-width:100%;}
		}
	}
}

